{% import "macros.tera" as macros %}

{% for sdef in structs %}
{%- if is_struct_not_empty(var=sdef) %} 
typedef struct Fl{{ sdef.name }} {
    {%- for var in sdef.variables %}
    {{ macros::gen_comments(comments=var.doc_comments) }}
    {{ get_ctype_struct(var=var, self=sdef.name) }}
    {%- endfor %}
} Fl{{ sdef.name }};
{%- endif %} 
{% endfor %}
