{% for sdef in structs %}
typedef struct Fl{{ sdef.name }} {
    {%- for var in sdef.variables %}
    {{ var.type_name | gen_ctype }} {{ var.name }};
    {%- endfor %}
} Fl{{ sdef.name }};
{% endfor %}
